<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      Search: <input ng-model="$ctrl.query" />
    </div>
    <div class="col-md-10">
      <ul class="films">
        <li ng-repeat="film in $ctrl.films | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
          <table>
            <tr>
              <td>
                <a href="#!/films/{{film.id}}" class="thumb">
                  <img ng-src="/src/img/{{film.imageUrl}}" width="100px" alt="{{film.name}}"  />
                </a>
              </td><td>
              <a href="#!/films/{{film.id}}"><h2>"{{film.name}}"</h2></a>
              <p><h3>&nbsp;Year: {{film.year}}</h3></p>
            </td>
          </tr>
        </table>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
